<br>
<h1>Add a new ingredient for <%= @cocktail.name %></h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.association :ingredient, collection: Ingredient.order(:name), prompt: "Choose an Ingredient" %>
  <%= f.input :description %>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>
